html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit; font-family: Arial, Helvetica, sans-serif; font-size: 14px;}

.container {
  height: 800px;
}

.categories {
  width:625px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.categories .section .subsection {
  width: 220px;
  height: 300px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
   list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.categories .section .subsection li:hover {
  background:lightgray;
}

li {
  border-bottom: 1px solid rgb(226, 226, 226);
}

#community {
  height: 140px;
}

#housing {
  height: 180px;
}

#jobs {
  height: 585px;
  width:150px;
}

#services {
  height: 194px;
  position: absolute;
  top: 267px;
  left: 0;
}

#for-sale {
  height: 341px;
  position: absolute;
  top: 310px;
  left: 230px;
}

#gigs {
  height: 70px;
  position: absolute;
  left:0;
  bottom: 363px;
}

#personals {
  display:none;
}

h1 {
  margin:auto;
  text-align: center;
}

.heading ul {
  list-style: none;
  border-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.heading ul li {
  border: 0;
}

.heading {
  width:200px;
  color:blue;
}

.heading input {
   width: 90%;
   padding:5px;
   font-size:18px;
}

.heading .title {
  margin:0;
  font-size:32px;
  font-family: 'Times New Roman', Times, serif;
}

.heading .highlight {
  background: rgb(248, 248, 194);
  width: max-content;
}

.heading .extra li {
  margin: 5px;
}

.heading .extra ul {
   margin-top:30px;
}

.cities {
  width:100px;
}

.content .cities, .content .heading {
  border-left: 1px solid rgb(187, 187, 187);
  border-right:1px solid rgb(187, 187, 187);
  background:rgb(236, 235, 235);
  text-align: center;

}

.main h3 {
  text-align:center;
  font-size:18px;
  border-top: 1px solid rgb(187, 186, 186);
  border-bottom:1px solid rgb(187, 187, 187);
  background:rgb(236, 235, 235);
  padding:5px;
}

.main p {
  margin: 0;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  border-top: 1px solid rgb(187, 186, 186);
  border-bottom:1px solid rgb(187, 187, 187);
  background:rgb(236, 235, 235);
  padding:5px;
}

.main li {
  margin-right:20px;
}

a {
  text-decoration: none;
}

.content {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  height:800px;
}


.subcategory .ads {
  display: flex;
  width:1000px;
  margin: 20px auto;
  
}

.subcategory input {
  width: 800px;
}

.listButtons {
  display:flex;
  justify-content: space-between;
}

.posts {
  display: flex;
  justify-content: flex-start;
}

.subcategory .posts p {
  margin: 0 10px;
}

#parentservices {
  width: 220px;
  position: absolute;
  left: 0;
  top: 212px;

}

#parentfor-sale {
  width: 220px;
  position: absolute;
  left: 225px;
  top: 252px;
}

#parentgigs {
  width: 220px;
  position: absolute;
  left: 0;
  bottom: 446px;

}

#parentpersonals {
  width: 220px;
  position: absolute;
  left: 0;
  top: 622px;
}

#parentresumes {
  width:150px;
  position: absolute;
  right:23px;
}

.subcategory {
  width: 1400px;
  margin:auto;
}

.subcategory header {
  background: rgb(226, 226, 226);
  border-bottom: 1px solid rgb(187, 187, 187);
  display: flex;
  justify-content: space-around;
}

.subcategory aside {
  width:200px;
}

.cities {
  color: blue;
  border:none;
}

.cities ul {
  list-style: none;
  padding-left:0;
}

.cities ul li {
  border:none;
}

.posts {
  display:flex;
  flex-direction: column;
  
}

.posts .eachPost {
  justify-content: flex-start;
  align-content: center;
  display:flex;
  flex-direction: row;
  margin: 20px 0;
}

.eachPost .date {
  color: rgb(187, 187, 187);
  text-transform: capitalize;
}
